
/* team section*/


.team-item{
    background-color: #e8e8e8;
    padding: 40px 10px;
    text-align: center;
    
}
.team-item.mg{
    margin: 0 5%;
}

.team-item .team-img{
    width: 90%;
    margin: auto;
    position: relative;
}
.team-item .team-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0, 0, 0,0.5 );
    visibility: hidden;
    opacity: 0;

}
.team-overlay a{
    display: block;
    color:var(--whitecolor);
    background-color: var(--maincolor);
    width: 40px;
    height: 40px;
    margin-left: auto;
}
.team-overlay a i{
    line-height: 40px;
}

.team-item .team-img img{
    width: 100%;
}

    
.team-info .team-info-title{
    color: #222;
    margin: 10px 0;
    transition: color 0.5;
}
.team-info .team-info-text{
    color:var(--graycolor);
    font-size: 14px;
    transition: color 0.5;
    
}    

.team-item:hover .team-overlay{
    opacity: 1;
    visibility: visible;
}
.team-item:hover .team-info-title{
    color:var(--whitecolor);
}
.team-item:hover .team-info-text{
    color:var(--maincolor);
}
.team-item.ttb-effect{
    z-index: 1;
}